.footer__copiright {
  margin: 0;
  padding: 66px 0 60px 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media (max-width: 930px){
  .footer__copiright {
    padding: 48px 19px 36px 19px;
  }
}
@media (max-width: 660px) {
  .footer__copiright { 
    font-size: 14px;
    line-height: 17px;
  }
}