.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  animation: layout 0.6s;
  animation-fill-mode: forwards;
}
@keyframes layout {
  from { z-index: -1; }
  to {  z-index: 200; }
 }