.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 41px 0;
  box-shadow: 0 1px 0 rgba(84, 84, 84, 0.7);
  max-width: 880px;
  min-width: 320px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 930px){
  .header{
    padding: 45px 20px 41px 20px;
  }
}
@media (max-width: 725px) {
  .header {
    padding: 28px 20px 31px 0;
  }
}