.popup__submit-button {
  margin-top: 20px;
  height: 50px;
  background-color: #000000;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  transition: 0.5s;
}
.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width: 625px) {
  .popup__submit-button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}