.header__text{
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: 200ms;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.header__text:hover{
  opacity: 0.6;
}