.popup__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 41px;
}
@media (max-width: 625px) {
  .popup__title {
    padding: 0 0 72px 0;
    font-size: 18px;
    line-height: 22px;
  }
}