.place__trash-button {
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  z-index: 10;
  background-image: url("../../../images/Trash.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  transition-property: filter;
  transition-duration: 200ms;
  font: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

.place__trash-button:hover {
  filter: opacity(60%);
}