.authorization__input {
  border: none;
  border-bottom: 1px solid #CCCCCC;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #000000;
  height: 27px;
  width: 100%;
  margin-bottom: 30px;
}
.authorization__input::placeholder{
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}